$cms_bg: #222d3d;
$cms_text_col: #FFF;

@font-face {
  font-family: 'Avenir-Medium';
  src: url('../fonts/Avenir-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'Avenir-Bold';
  src: url('../fonts/Avenir-Black.ttf') format('truetype');
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Avenir-Bold";
  font-weight: bold;
}

html, body {
}

body {
  padding-top: 65px;
}

.page {
  margin-bottom: 55px;
}

.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
  vertical-align: middle;
}
table {
  border: thin solid #ddd;
}
table > thead {
  background: #337ab7;
  color: #FFF;
}
/**
* LOGIN FORM
*/
.login-form {
  padding: 15px;
  background: #fafafa;
  border-radius: 5px;
  border: thin solid #e5e5e5;
}
.login-page {
  margin-top: 25px;

}
@import "../../application/views/modules/nav-admin/style";
@import "../../application/views/modules/cms-info-bar/style";
@import "../../application/views/modules/file-browser/style";