@import "normalize";
@import "variables";

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

header.header-large {
  height: 740px;
  background-color: #ccc;
}

.text-center {
  text-align: center;
}
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
.spacer-5 {
  display: block;
  height: 5px;
  width: 100%;
}