#two-col-news {

  .tiles {
    margin-top: -45px;

    .tile {
      width: 220px;
      height: 220px;
      display: inline-block;
      background: #efefef;
      margin-right: 5px;
      margin-bottom: 10px;
    }
  }

  .top {
    a[role=button] {
      background: transparent url("../img/buttons/button-generic.png") top left no-repeat;
      display: inline-block;
      width: 200px;
      height: 48px;
      line-height: 48px;
      color: #FFF;
      text-decoration: none;
      padding-left: 20px;
      &:hover {
        background-position: bottom left !important;
      }
    }
  }
}