.pager {

  background: #333333;
  height: 48px;

  .pager-content {
    display: inline-block;
    width: 100%;
    text-align: center;
    line-height: 48px;
    .summary {
      display: inline-block;
      color: #FFF;
    }
    .pages {
      display: inline-block;
      margin: 0;
      padding: 0;
      list-style-type: none;
      li {
        display: inline-block;
        color: #fff;
      }
    }
  }

  .pt-btn {
    display: inline-block;
    border: none;
    background: #333;
    position: absolute;
    top: 0;
    &.next {
      right: 15px;
    }
    &.back {
      left: 15px;
    }
    &:hover {
      background: #000;
    }
  }

}