.pager {

  background: #333333;
  height: 48px;

  .pager-content {
    display: inline-block;
    width: 100%;
    text-align: center;
    line-height: 48px;
    .summary {
      display: inline-block;
      margin-right: 30px;
      color: #FFF;
    }
    .pages {
      display: inline-block;

      strong,a {
        line-height: 25px;
        width: 25px;
        height: 25px;
        display: inline-block;
      }

      strong {
        background: #eee;
        color: #333;
        border-radius: 50%;
      }

      color: #FFF;
      a {
        cursor: pointer;
        color: #FFF;
      }
    }
  }

  .pt-btn {
    display: inline-block;
    border: none;
    background: #333;
    position: absolute;
    top: 0;
    &.next {
      right: 15px;
    }
    &.back {
      left: 15px;
    }
    &:hover {
      background: #000;
    }
  }

}