#mod-tiles-featured {
  position: relative;
  top: -25px;
}

#mod-tiles-featured.editor {
  top: 0;
}

#mod-tiles-featured {
  .tile {
    background: #f0f0f0;
    margin-bottom: 25px;
    border: 1px solid #FFF;
  }
  .tile img {
    width: 100%;
  }
  .tile form {
    padding: 7px;
  }
}
