.banner-content {

  margin-top: 175px;

  .content-text {
    margin: 0;
    color: #FFF;
    font-size: 27px;
    font-weight: 300;
    text-shadow: 1px 1px  1px rgba(0,0,0,0.2);
    i {
      font-family: GoodFoot, sans-serif;
      font-style: normal;
      font-size: 48px;
    }
  }

  .pt-btn {
    width: 250px;
  }

}